# Jira Integration with API Token
JIRA_USER_EMAIL=name.email@example.com
JIRA_API_TOKEN=API_TOKEN_HERE
JIRA_BASE_URL=BASE_URL_HERE
# The key of the Jira project you want to fetch stories from
# For example, if your project key is "SCPLAN", set it as follows:
JIRA_PROJECT_KEY=PROJECT_KEY_HERE
